@import models.Alert
@(alertOpt: Option[Alert])
@main(alertOpt){
    <div class="container vertical-center">
        <div class ="row">
            <h1 class="logo">
                URL Shortener
            </h1>
        </div>
        <div class="row">
            <form action="/shorten" method="post">
                <div class="form-group">
                    <input name="url" type="text" class="form-control">
                </div>
                <div class="parent-center-content">
                    <div class="horizontal-center">
                        <input class="btn btn-default" type="submit" value="Shorten">
                    </div>
                </div>
            </form>
        </div>
    </div>
}