@import models.Alert
@(path: String, shortenedUrl: String, originalUrl: String)(alertOpt: Option[Alert])
@main(alertOpt){
    <div class="container vertical-center">
        <div class="row">
            <h1 class="url">
                <a href="/@path">@shortenedUrl</a> 🡒 <a href="@originalUrl">@originalUrl</a>
            </h1>
        </div>
        <div class="row">
            <div class="parent-center-content">
                <div class="horizontal-center">
                    <a href="/" class="btn btn-default">Restart</a>
                </div>
            </div>
        </div>
    </div>
}